{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <title>Jaden Walker Website</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <noscript>
        <link rel="stylesheet" href="../static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload ">

{% block intro %}
{% endblock %}

<!-- Header -->
<header id="header">
    <a href="{% url 'index' %}" class="logo">Home</a>
</header>


<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li class="active"><a href="{% url 'index' %}">Home Page</a></li>
        <li><a href="{% url 'blog' %}">Blogs</a></li>
        <li><a href="{% url 'projects' %}">Projects</a></li>
    </ul>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://github.com/jaden81699" class="icon brands alt fa-github"><span class="label">GitHub</span></a>
        </li>
    </ul>
</nav>

{% block body %}
{% endblock %}

<!-- Footer -->
<footer id="footer">
    <section>
        <form method="post" action="#">
            {% csrf_token %}
            <div class="fields">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name"/>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email"/>
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="3"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message"/></li>
            </ul>
        </form>
    </section>
    <section class="split contact">
        <section class="alt">
            <h2 class="align-center"><a href="https://drive.google.com/file/d/1dFxmeceg0SYT_OQOOGVGSZhACehwCcKD/view?usp=sharing">View My
                Resume Here</a></h2>

        </section>
        <section>
            <h3>Phone</h3>
            <p><a href="#">(000) 000-0000</a></p>
        </section>
        <section>
            <h3>Email</h3>
            <p><a href="mailto:jadenwalker81699@gmail.com">jadenwalker81699@gmail.com</a></p>
        </section>
        <section>
            <h3>Social</h3>
            <ul class="icons alt">
                <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/jaden81699" class="icon brands alt fa-github"><span
                        class="label">GitHub</span></a>
                </li>
            </ul>
        </section>
    </section>
</footer>


<!-- Copyright -->
<div id="copyright">
    <ul>
        <li>&copy; Untitled</li>
        <li>Inspired Design: <a href="https://html5up.net">HTML5 UP</a></li>
    </ul>
</div>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</html>